<div class="cart__inner_benefits">
    <div class="benefit__item">
        <span class="benefits_icon">
            {{ 'icon-smile.svg' | asset_url | img_tag }}
        </span>
        <p class="benefits_text">
            {{- 'cart.general.benefit_item_1' | t -}}
        </p>
    </div>

    <div class="benefit__item">
        <span class="benefits_icon">
            {{ 'icon-like.svg' | asset_url | img_tag }}
        </span>
        <p class="benefits_text">
            {{- 'cart.general.benefit_item_2' | t -}}
        </p>
    </div>

    <div class="benefit__item">
        <span class="benefits_icon">
            {{ 'icon-car.svg' | asset_url | img_tag }}
        </span>
        <p class="benefits_text">
            {{- 'cart.general.benefit_item_3' | t -}}
        </p>
    </div>
</div>