<div class="nav_top-filter-container" data-collection-topbar>
    {% assign filters_active = "" %}
    {% assign filters_not_disabled = "" %}
    {% assign count_nbr_active = 0 %}
    {%- assign filters_default = search.filters | default: collection.filters -%}
        {%- for filter in filters_default -%}
            {%- for filter_value in filter.values -%}
            {% assign filter_check_count = filter.values | where: 'count', 0 %}
            {% if filter_value.active %}
                {% assign filters_active = filters_active | append : ',' | append : filter_value.label | escape %}
                {% assign count_nbr_active = count_nbr_active | plus : 1 %}
            {% else %}
                {% assign filters_not_disabled = filters_not_disabled | append : ',' | append : filter_value.label | escape %}
            {%endif%}
        {%- endfor -%}
    {%endfor%}

    <div class="nav_top-filter-inner">
        <span class="top-filter-text">
            FILTER BY :
        </span>
        
        {% assign filtring_categories = "bundles,mineral,mists,lip oils,balms,merch,travel size," | split : "," %}
        <div class="top-filter-checks">
            <div class="top-filter-checks-item">
                <input type="checkbox" id="filter-for-all" value="all" name="filter.p.tag">
                <button for="filter-for-all" id="label-for-all">ALL</button>
            </div>
            {%for option in filtring_categories%}
                <div class="top-filter-checks-item">
                    <button class="buttons-to-check" id="label-for-{{ option | replace: " ", "" }}" data-for-id="filter-Product-type-{{option | replace: " ", "" }}">{{option | upcase }}</button>
                </div>
            {%endfor%}
        </div>
    </div>
    <style>
        {%for option in filtring_categories%}
            {% assign option = option | prepend : ',' %}
            {% if filters_active contains option %}
                #label-for-{{option | replace: " ", ""}} {
                    background: #E1DEF7;
                    border: 0.8px solid #EAE4FF;
                }
            {% elsif filters_not_disabled contains option%}
                
            {%else%}
                #label-for-{{ option | replace: " ", "" }}{
                    cursor:not-allowed;
                    background-color:#f2f2f2;
                    pointer-events: none;
                }
                #label-for-{{ option | replace: " ", "" }}::before {
                    content: "";
                    display: block;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    width: 100%;
                    height: 2px;
                    background-color: #EAE4FF;
                    transform: translate(-50%, -50%) rotate(-45deg);
                }
            {%endif%}
        {%endfor%}
        {% if count_nbr_active == 0 and collection.products.size > 0%}
            #label-for-all {
                background: #E1DEF7;
                border: 0.8px solid #EAE4FF;
            }
        {%endif%}
    </style>
</div>
<style>
    @media only screen and (max-width: 989px){
        .popout--sort .popout__toggle{
            display: none;
        }
    }
    .popout--group{
        display: none;
    }
</style>